span.json-declaration-span{
    color: #D7BA7D
}

p.json-line{
    white-space: nowrap;
}

span.json-line-property{
    color: var(--json-property);
    padding-left: 32px;
}

a.json-line-link{
    color: var(--json-link);
}

span.speech-mark{
    color: var(--json-link);
}

@media (max-width: 600px){
    span.json-line-property{
        padding-left: 12px;
    }

}