.editor {
    flex-grow: 1;
    padding: 20px;
    background-color: #252526;
    padding-top: 0;
    min-width: fit-content;
  }

  .header-title {
    display: inline-flex; 
    align-items: center; 
  }
  
  .header-link {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
  }

  .header-link:hover{
    color: rgba(255, 255, 255, 0.5)
  }

li{
    margin-bottom: 20px;
}

