.editor {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--background-color-secondary);
    padding-top: 0;
    min-width: fit-content;
}

.header-title {
  display: inline-flex; 
  align-items: center; 
}

.header-link {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-left: 10px;
  color: inherit;
  text-decoration: none;
}

.header-link:hover{
  opacity: 0.8;
}

li{
    margin-bottom: 20px;
}

video{
  width: 600px;
  position: relative;
}

@media (max-width: 600px) {
  video{
      width: 225px
  }
}
