.sidebar {
    background-color: var(--background-color-primary);
    padding: 10px;
    border-right: 1px solid var(--border-color);
}

.file {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    padding: 5px 1px 5px 1px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 14px;
}

.file-icon {
    margin-right: 3px;
    flex-shrink: 0;
    font-size: 14px;
}

.file span {
    flex-grow: 1;
    white-space: nowrap;
}

.file:hover{
    background-color: var(--primary-color);
    opacity: 0.8;
}

.file.active{
    background-color: var(--primary-color);
    border-radius: 2px;
}

.dropdown-icon {
    font-size: 1.2rem;
}

.dropdown-content {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}


.sidebar-header {
    margin: 0px;
    margin-bottom: 10px;
}

hr {
    border: 0.5px solid var(--primary-color);
}
