html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
  flex-grow: 1;
  overflow-y: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  overflow-y: auto;
}

.main-content::-webkit-scrollbar {
  width: 10px; 
}

.main-content::-webkit-scrollbar-track {
  background: #2c2c2c; 
  border-radius: 10px; 
}

.main-content::-webkit-scrollbar-thumb {
  background: #444; 
  border-radius: 10px; 
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

.vscode-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 115px;
  height: 100vh;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

@media (max-width: 600px){
  /* might be able to remove once handled fonts */
  .terminal-input-container{
    margin-bottom: 50px;
  }
  .vscode-container{
    grid-template-columns: 125px 1fr;
    grid-template-rows: 1fr 135px;
  }

}



