html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
  flex-grow: 1;
  overflow-y: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content::-webkit-scrollbar {
  width: 10px; 
}

.main-content::-webkit-scrollbar-track {
  background: var(--scrollbar-track); 
  border-radius: 10px; 
}

.main-content::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb); 
  border-radius: 10px; 
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover); 
}

.vscode-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 115px;
  height: 100vh;
  background-color: #1e1e1e;
  color: var(--text-color);
}

@media (max-width: 600px){
  body{
    font-size: 12px;
  }

  .file{
    font-size: 10px;
  }
  .sidebar-icon{
    font-size: 10px;
  }

  .dropdown-content{
    padding-left: 10px;
  }
  .vscode-container{
    grid-template-columns: 125px 1fr;
    grid-template-rows: 1fr 100px;
  }

}



