
html, body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.vscode-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr 150px;
  height: 100vh;
  background-color: #1e1e1e;
  color: #d4d4d4;
}




